# Variable que Railway completa automaticamente al agregar el plugin de PostgreSQL.
DATABASE_URL=postgresql://usuario:password@host:puerto/nombre_db

# Puerto (Railway lo define solo, no hace falta tocarlo)
PORT=3000
